/env/*
/FS_pythonChatServer/
/FS_pythonChatServer/*
/OLD/
/OLD/*
/.gitignore
/FS_pythonChatServer/1_pythonChatServer.py
/OLD/pythonServerExample/1_pythonServerExample.py
/OLD/Modeling/Application/__init__.py
/OLD/Modeling/__init__.py
/OLD/Programming/__init__.py
/OLD/pythonServerExample/__init__.py
/OLD/TestProgramming/__init__.py
/OLD/__init__.py
/OLD/ChatGPTCosPlay
/OLD/FileSystem.py
/FS_pythonChatServer/File/index.html
/OLD/pythonServerExample/templates/item.html
/OLD/Modeling/Application/NoteByFile.py
/OLD/Programming/NoteByFile.py
/FS_pythonChatServer/package/pythonChatServer.py
/OLD/TestProgramming/PythonOOP測試.py
/FS_pythonChatServer/pythonServerCICDTest.py
/OLD/TestProgramming/STProgramming.py
/OLD/Modeling/Application/translationByChatGPT.py
/OLD/Programming/translationByFile.py
/OLD/TestProgramming/工廠模式測試.py
/OLD/TestProgramming/測試_args_kwargs.py
/FS_PythonSTServer/
/FS_PythonSTServer/*
/FS_PythonSTServer/1_STGoogleDrive.py
/FS_PythonSTServer/pythonSTServerCICDTest.py
/FS_PythonSTServer/package/STGoogleDrive.py
/EnvironmentSetting/CICD/JenkinsFileSetting.txt
