<div class="flex-container">
    <div class="main-container">
        <div class="input-container">
            <div class="input-wrapper">
                <label class="input-label" for="providerName">姓名</label>
                <input id="providerName" placeholder="你的姓名" autocomplete="off" autofocus>
            </div>
            <div class="input-wrapper">
                <label class="input-label" for="CourseCategory">頻道類別</label>
                <input id="CourseCategory" placeholder="這裡請自定義頻道的類別" autocomplete="off" autofocus>
            </div>
            <div class="input-wrapper">
                <label class="input-label" for="CourseName">頻道名稱</label>
                <input id="CourseName" placeholder="頻道名稱" autocomplete="off" autofocus>
            </div>
            <div class="input-wrapper">
                <label class="input-label" for="CourseContent">頻道連結</label>
                <textarea id="CourseUrl" placeholder="這裡請放你想下載的頻道連結" autocomplete="off" autofocus></textarea>
            </div>
            <div class="input-wrapper">
                <label class="input-label" for="CourseContent">頻道內容</label>
                <textarea id="CourseContent" placeholder="頻道內容，你可以在這裡放任何你對頻道的描述。" autocomplete="off" autofocus></textarea>
            </div>
            <button onclick="submitCourse()">送出</button>
            <div id="loadingMessage" style="display: none;">Loading...</div>
            <div id="progressBar" style="display: none;">
                <div></div>
                <p id="progressText"></p>
            </div>
        </div>
    </div>
</div>