/* 側邊欄的背景色和高度 */
.sidebar {
    background-color: #343a40;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    margin-left: 0;
    width: auto; /* 新增這行設定 */
}

.main-content {
    padding-top: 20px; /* 這將給予內容上方一點間距 */
}


/* 透明的按鈕 */
.btn-transparent {
    background-color: transparent;
    border: none;
}

/* 按鈕滑過時的高亮效果 */
.btn-transparent:hover {
    background-color: #f8f9fa;
}

/* 高亮時的淺灰色 */
.btn-highlight {
    background-color: #f8f9fa;
}

/* 外層容器居中顯示 */
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6e6e6;
}
.row {
    background-color: #e6e6e6;
}
.gray-background {
    background-color: #e6e6e6; /* 將背景色改為灰色 */
    min-height: 100vh; /* 新增這行，使元素至少有視窗的高度 */
}

.submit-button {
    margin-top: 10px; /* 調整送出按鈕的上方間距 */
    border-radius: 5px; /* 添加按鈕的圓角效果 */
}

.input-container {
    background-color: #f0f0f0; /* 將背景色改為淺灰色 */
    border: 1px solid #d0d0d0; /* 添加邊框，你可以根據需要調整顏色和寬度 */
    padding: 15px; /* 添加內邊距，使內容與邊框有一定距離 */
    border-radius: 5px; /* 添加邊框圓角 */
    margin-bottom: 15px; /* 添加底部外邊距，使相鄰的元素有一定距離 */
    margin-left: auto; /* 將左邊的間距設置為自動，將容器置於側邊欄右側和螢幕右側之間 */
    margin-right: 20px; /* 添加右邊的間距，使其與螢幕右側保持一定的距離 */
}
#progressBar {
    margin-top: 10px; /* 調整進度條與上方元素的垂直間距 */
}

.progress {
    background-color: #cccccc; /* 替換為你希望的顏色 */
}